mixin social-icon(options={})
  -
    let {
      network,
      mix
    } = options

  span.social-icon(class=mix)
    span.screen-reader= network
    
    svg.social-icon__svg(
      xmlns="http://www.w3.org/2000/svg",
      aria-hidden="true"
    )
      use(href=`images/icon-${network.toLowerCase()}.svg`)
