mixin arrow-icon(options={})
  -
    let {
      direction = 'up',
      mix
    } = options

  span.arrow-icon(class=mix)
    span.screen-reader= (direction === 'up') ? 'Increase' : 'Decrease'

    svg.arrow-icon__svg(
      xmlns="http://www.w3.org/2000/svg",
      aria-hidden="true"
    )
      use(href=`images/icon-${direction}.svg`)
